@charset "UTF-8";
/*! destyle.css v4.0.1 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
  min-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Fix appearance for Firefox
 */
[type=number] {
  -moz-appearance: textfield;
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* 色 */
/* リキッドレイアウト */
html {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-text-seize-adjust: 100%;
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
}
@media (max-width: 767px) {
  html html {
    scroll-padding-top: 5rem;
  }
}

html {
  font-size: 16px;
}
@media (min-width: 768px) {
  html {
    font-size: 1.7021276596vw;
  }
}
@media (min-width: 940px) {
  html {
    font-size: 16px;
  }
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}

body {
  margin: 0;
  font-family: "YuGothic", "Yu Gothic", "游ゴシック", "Noto Sans JP", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  color: #000;
}

#container {
  width: 100%;
  overflow: hidden;
}

p, h1, h2, h3, a {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.l-footer {
  padding-block: 2.75rem 2.625rem;
  background-color: #cb0000;
  color: #FFF;
}
@media (max-width: 767px) {
  .l-footer {
    padding-block: 2.75rem 2.8125rem;
  }
}

.l-footer-nav {
  display: flex;
  justify-content: center;
}

.l-footer-nav__lists {
  display: flex;
  -moz-column-gap: 0.75rem;
       column-gap: 0.75rem;
}
@media (max-width: 767px) {
  .l-footer-nav__lists {
    -moz-column-gap: 0.5625rem;
         column-gap: 0.5625rem;
  }
}

.l-footer-nav__list a {
  font-size: 1.0625rem;
  line-height: 1.9411764706;
  font-weight: 600;
  padding: 0.625rem;
  transition: all 0.4s;
  cursor: pointer;
}
.l-footer-nav__list a:hover {
  opacity: 0.7;
}

.l-footer__logo {
  display: block;
  margin-top: 0.4375rem;
  margin-inline: auto;
  width: 3.25rem;
  padding: 0.625rem;
  cursor: pointer;
  transition: all 0.4s;
}
@media (max-width: 767px) {
  .l-footer__logo {
    margin-top: 0;
    padding: 0.54375rem;
  }
}
.l-footer__logo:hover {
  opacity: 0.7;
}

.l-footer__copyright {
  margin-top: 0.8125rem;
  margin-inline: auto;
  text-align: center;
  font-size: 0.9375rem;
  line-height: 2.2;
}
@media (max-width: 767px) {
  .l-footer__copyright {
    margin-top: 0.625rem;
    line-height: 1.3333333333;
  }
}

.l-footer__snsbtn {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 767px) {
  .l-footer__snsbtn {
    margin-top: 0.625rem;
  }
}

.l-footer__snsbtn a {
  display: inline-block;
  padding: 0 0.375rem 0.375rem 0.375rem;
  transition: all 0.4s;
  cursor: pointer;
}
@media (max-width: 767px) {
  .l-footer__snsbtn a {
    padding: 0.375rem;
  }
}
.l-footer__snsbtn a:hover {
  opacity: 0.7;
}

.l-header {
  width: 100%;
  position: fixed; /* ヘッダーを固定 */
  top: 0; /* 上部に配置 */
  z-index: 999; /* 表示順序を設定 */
  height: 5rem;
  text-align: center;
  background-color: #FFF;
}
@media (max-width: 767px) {
  .l-header {
    height: 3.125rem;
  }
}

.l-header__inner {
  max-width: 58.75rem;
  padding-inline: 1.875rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
@media (max-width: 767px) {
  .l-header__inner {
    padding-inline: 1.25rem 0;
  }
}

.l-header__logo {
  height: 100%;
  display: flex;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  transition: 0.3s;
}
.l-header__logo:hover {
  opacity: 0.5;
}
@media (max-width: 767px) {
  .l-header__logo {
    -moz-column-gap: 0.63rem;
         column-gap: 0.63rem;
  }
}

.l-header__logo__image {
  width: 2rem;
}
@media (max-width: 767px) {
  .l-header__logo__image {
    width: 1.3125rem;
  }
}

.l-header__logo__text {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.15;
  padding-top: 0.4rem;
  text-align: left;
}
@media (max-width: 767px) {
  .l-header__logo__text {
    font-size: 0.8125rem;
    line-height: 1.0769230769;
  }
}
.l-header__logo__text span {
  font-size: 0.9375rem;
}
@media (max-width: 767px) {
  .l-header__logo__text span {
    font-size: 0.8125rem;
  }
}

.l-header__right {
  height: 100%;
  display: flex;
  align-items: center;
}

.l-header-nav__lists {
  height: 100%;
  display: flex;
  -moz-column-gap: 0.8125rem;
       column-gap: 0.8125rem;
}
@media (max-width: 767px) {
  .l-header-nav__lists {
    display: block;
    width: 18.75rem;
    height: 10.875rem;
    background-color: #cb0000;
    position: fixed;
    top: 3.125rem;
    right: -120%;
    transition: all 0.5s;
  }
}

.l-header-nav__lists.active {
  right: 0%;
}

.l-header-nav__lists li {
  height: 100%;
}
@media (max-width: 767px) {
  .l-header-nav__lists li {
    display: block;
    height: 3.625rem;
  }
}

.l-header__nav__list {
  height: 100%;
  display: flex;
  padding-inline: 0.625rem;
  align-items: center;
  font-size: 1.0625rem;
  line-height: 1.9411764706;
  font-weight: 700;
  color: #000;
  position: relative;
  transition: 0.3s;
}
.l-header__nav__list:hover {
  opacity: 0.5;
}
@media (max-width: 767px) {
  .l-header__nav__list {
    width: 100%;
    height: 100%;
    padding-inline: 1.25rem;
    font-size: 1.125rem;
    line-height: 1.8333333333;
    color: #FFF;
  }
  .l-header__nav__list:hover {
    background-color: #000;
    opacity: 1;
  }
}

@media (min-width: 768px) {
  .l-header__nav__list::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 1.5625rem;
    width: 0;
    height: 0.125rem;
    background-color: #000;
    transition: width 0.3s ease, left 0.3s ease;
  }
  .l-header__nav__list:hover::after {
    width: 100%;
    left: 0;
  }
}
.l-header__btn {
  margin-left: 1.4375rem;
  padding: 0.4375rem 1.875rem 0.3125rem 1.875rem;
  font-size: 0.9375rem;
  line-height: 2.2;
  font-weight: 700;
}

.l-inner {
  max-width: 58.75rem;
  padding-inline: 1.875rem;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .l-inner {
    padding-inline: 1.25rem;
  }
}

/* --------------
ハンバーガーメニュー
-----------------*/
.c-hamburger {
  width: 4.4375rem;
  height: 3.125rem;
  background-color: #cb0000;
  position: relative;
}
.c-hamburger span {
  display: block;
  width: 2.0625rem;
  height: 0.25rem;
  background: #FFF;
  border-radius: 0.125rem;
  position: absolute;
  left: 1.1875rem;
  transition: all 0.5s;
}
.c-hamburger span:nth-of-type(1) {
  top: 0.75rem;
}
.c-hamburger span:nth-of-type(2) {
  top: 1.5rem;
}
.c-hamburger span:nth-of-type(3) {
  top: 2.25rem;
}

.c-hamburger.active span:nth-of-type(1) {
  top: 1.5rem;
  transform: rotate(45deg);
}

.c-hamburger.active span:nth-of-type(2) {
  display: none;
}

.c-hamburger.active span:nth-of-type(3) {
  top: 1.5rem;
  transform: rotate(-45deg);
}

/* --------------
ボタン
-----------------*/
.c-btn {
  color: #FFF;
  background-color: #cb0000;
  border: #cb0000 solid;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}
.c-btn:hover {
  color: #cb0000;
  background-color: #FFF;
}

/* --------------
h2(c-title)
-----------------*/
.c-title {
  font-size: 1.875rem;
  line-height: 1.6666666667;
  font-weight: 600;
  text-align: center;
}
@media (max-width: 767px) {
  .c-title {
    font-size: 1.5625rem;
    line-height: 1.6;
  }
}

/* --------------
キャプション
-----------------*/
.c-caption {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.875rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cb0000;
  color: #FFF;
  font-size: 0.9375rem;
  line-height: 1.6666666667;
  z-index: 99;
}

/* --------------
トップへ戻るボタン
-----------------*/
.c-back-btn {
  width: 4.25rem;
  height: 4.25rem;
  background-color: #7f7f7f;
  border-radius: 50%;
  display: grid;
  place-content: center;
  position: fixed;
  bottom: 22.8125rem;
  right: 7.25rem;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s;
}
@media (max-width: 767px) {
  .c-back-btn {
    bottom: 23.8125rem;
    right: 1.25rem;
  }
}
.c-back-btn.active {
  opacity: 1;
  visibility: visible;
}

.c-back-btn__icon {
  width: 1.4375rem;
}

/* --------------
お問い合わせボタン
-----------------*/
.c-contact-btn {
  padding: 0.8125rem 5.125rem 0.875rem;
  position: fixed;
  bottom: 17.125rem;
  right: 0;
  font-size: 1.25rem;
  line-height: 1.65;
  letter-spacing: 0.13em;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s;
}
@media (max-width: 767px) {
  .c-contact-btn {
    bottom: 23.8125rem;
    right: 1.25rem;
  }
}
.c-contact-btn.active {
  opacity: 1;
  visibility: visible;
}

.p-top__fv {
  margin-top: 5rem;
  width: 100%;
  position: relative;
  overflow: hidden;
}
@media (max-width: 767px) {
  .p-top__fv {
    margin-top: 3.125rem;
  }
}

.p-fv__bg {
  width: 100%;
  position: relative;
}

.p-fv__bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(80, 80, 80, 0.502);
  z-index: 9;
  mix-blend-mode: multiply;
  pointer-events: none;
}

.p-fv__message {
  position: absolute;
  top: 52%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.p-fv__message__title {
  color: #FFF;
  font-size: 2.5rem;
  line-height: 1.5;
  font-weight: 600;
  text-align: center;
}
@media (max-width: 767px) {
  .p-fv__message__title {
    font-size: 1.875rem;
    line-height: 1.6666666667;
  }
}

.p-top__concept {
  padding-block: 4.125rem 3.4375rem;
  background-color: #FFF;
}
@media (max-width: 767px) {
  .p-top__concept {
    padding-block: 2.875rem 2.125rem;
  }
}

.p-concept__title {
  font-size: 2.1875rem;
  line-height: 1.4285714286;
  color: #cb0000;
  font-weight: 600;
  text-align: center;
}
@media (max-width: 767px) {
  .p-concept__title {
    font-size: 1.5625rem;
    line-height: 1.6;
  }
}

.p-concept__text {
  font-size: 1.125rem;
  line-height: 1.6666666667;
  text-align: center;
  margin-block: 1.0625rem 2.125rem;
}
@media (max-width: 767px) {
  .p-concept__text {
    font-size: 1.125rem;
    margin-block: 0.4375rem 1.25rem;
  }
}

.p-concept__image {
  width: 53.625rem;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .p-concept__image {
    width: 100%;
  }
}

.p-concept__flow {
  width: 100%;
}

.p-concept__flow__detail {
  width: 100%;
  margin-block: 0.53125rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 767px) {
  .p-concept__flow__detail {
    margin-block: 0.53125rem;
  }
}

.p-concept__flow__detail__en {
  width: 9.375rem;
  font-size: 1.5625rem;
  line-height: 2;
  font-weight: 600;
  color: #cb0000;
  text-align: right;
}
@media (max-width: 767px) {
  .p-concept__flow__detail__en {
    width: 7.5rem;
    font-size: 1.25rem;
    line-height: 2.5;
  }
}

.p-concept__flow__detail__circle {
  background-color: #cb0000;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  margin-inline: 1.875rem;
  position: relative;
}
@media (max-width: 767px) {
  .p-concept__flow__detail__circle {
    width: 1.25rem;
    height: 1.25rem;
    margin-inline: 1.875rem;
  }
}

.p-concept__flow__detail__ja {
  width: 9.375rem;
  font-size: 1.4375rem;
  line-height: 2.1739130435;
  text-align: left;
}
@media (max-width: 767px) {
  .p-concept__flow__detail__ja {
    width: 6.875rem;
    font-size: 1.25rem;
    line-height: 2.5;
  }
}

.p-concept__flow__detail:first-of-type .p-concept__flow__detail__circle::before {
  content: "";
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  border-top: 0.25rem solid #CB0000;
  border-left: 0.25rem solid #CB0000;
  top: -50%;
  left: -0.1rem;
  transform: translateY(-134%) rotate(45deg);
}
@media (max-width: 767px) {
  .p-concept__flow__detail:first-of-type .p-concept__flow__detail__circle::before {
    border-top: 0.1875rem solid #CB0000;
    border-left: 0.1875rem solid #CB0000;
  }
}

.p-concept__flow__detail:last-of-type .p-concept__flow__detail__circle::after {
  content: "";
  position: absolute;
  width: 0.1875rem;
  height: 11.125rem;
  background-color: #CB0000;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -91%);
}

@media (max-width: 767px) {
  .p-concept__flow__detail:first-of-type .p-concept__flow__detail__circle::before {
    content: "";
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    top: -50%;
    left: -0.125rem;
    transform: translateY(-134%) rotate(45deg);
  }
  .p-concept__flow__detail:last-of-type .p-concept__flow__detail__circle::after {
    content: "";
    position: absolute;
    height: 11.125rem;
    background-color: #CB0000;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -91%);
  }
}
.p-top__message {
  padding-block: 4.25rem 3.75rem;
  background-color: #cb0000;
}
@media (max-width: 767px) {
  .p-top__message {
    padding-block: 3.0625rem 2.5rem;
  }
}

.p-message__title {
  color: #FFF;
}

.p-message_text {
  margin-top: 1.875rem;
  font-size: 1.125rem;
  line-height: 1.6666666667;
  color: #FFF;
  text-align: center;
}
@media (max-width: 767px) {
  .p-message_text {
    margin-top: 0.875rem;
  }
}

.p-top__reason {
  padding-block: 4rem 5.625rem;
}
@media (max-width: 767px) {
  .p-top__reason {
    padding-block: 3.0625rem 2.4375rem;
  }
}

.p-reason__contents {
  display: grid;
  margin-top: 1.75rem;
  row-gap: 3.125rem;
}
@media (max-width: 767px) {
  .p-reason__contents {
    margin-top: 2.25rem;
    row-gap: 2.4375rem;
  }
}

.p-reason__content {
  display: flex;
  width: 100%;
}
@media (max-width: 767px) {
  .p-reason__content {
    display: block;
  }
}

.p-reason-content__image {
  width: 21.875rem;
}
@media (max-width: 767px) {
  .p-reason-content__image {
    width: 100%;
  }
}

.p-reason-content__textarea {
  flex: 1;
}
@media (max-width: 767px) {
  .p-reason-content__textarea {
    width: 100%;
  }
}

.p-reason-content__title {
  padding-left: 3.125rem;
  padding-bottom: 0.75rem;
  font-size: 1.375rem;
  line-height: 1.5;
  font-weight: 600;
  border-bottom: 2px solid #cb0000;
}
@media (max-width: 767px) {
  .p-reason-content__title {
    padding-left: 0;
    padding-top: 1.875rem;
    padding-bottom: 0.625rem;
    font-size: 1.25rem;
    line-height: 1.5;
  }
}

.p-reason-content__text {
  padding-left: 3.125rem;
  padding-top: 2.3125rem;
  font-size: 1.125rem;
  line-height: 1.8333333333;
}
@media (max-width: 767px) {
  .p-reason-content__text {
    padding-left: 0;
    padding-top: 1.0625rem;
    font-size: 1rem;
    line-height: 1.875;
  }
}

.c-top__voice {
  padding-block: 2.75rem 5rem;
  background-color: #cb0000;
}
@media (max-width: 767px) {
  .c-top__voice {
    padding-block: 2.8125rem 3.125rem;
  }
}

.p-voice__title {
  color: #FFF;
}

.p-voice__slider {
  margin-top: 2.25rem;
  position: relative;
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .p-voice__slider {
    margin-top: 2.4375rem;
  }
}

.p-slider__arrow-l, .p-slider__arrow-r {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  width: 1.875rem;
}

.p-slider__arrow-l {
  left: -2.5rem;
}
@media (max-width: 767px) {
  .p-slider__arrow-l {
    left: 0.3125rem;
    top: 9.375rem;
  }
}

.p-slider__arrow-r {
  right: -2.5rem;
}
@media (max-width: 767px) {
  .p-slider__arrow-r {
    right: 0.3125rem;
    top: 9.375rem;
  }
}

.p-slider__items {
  width: 100%;
}

.p-slider__item {
  width: 16.875rem;
  margin: 0 1.09375rem;
}
@media (max-width: 767px) {
  .p-slider__item {
    width: 100%;
    margin: 0;
  }
}

.p-slider__img {
  width: 100%;
  transition: transform 0.3s ease;
}

.p-slider__item:hover .p-slider__img {
  transform: scale(1.05);
}

.p-slider__name {
  padding-top: 1.0625rem;
  font-size: 1.375rem;
  line-height: 1.5;
  font-weight: 600;
  text-align: center;
  color: #FFF;
}
@media (max-width: 767px) {
  .p-slider__name {
    padding-top: 1.6875rem;
  }
}

.p-slider__comment {
  padding-top: 0.625rem;
  font-size: 1.125rem;
  line-height: 1.6666666667;
  font-weight: 500;
  color: #FFF;
}

.p-top__process {
  padding-block: 2.125rem 3.5625rem;
}
@media (max-width: 767px) {
  .p-top__process {
    padding-block: 2.875rem 1.5625rem;
  }
}

.p-process__lists {
  margin-top: 3.3125rem;
  display: grid;
  row-gap: 3.625rem;
  position: relative;
}
@media (max-width: 767px) {
  .p-process__lists {
    margin-top: 2.25rem;
    row-gap: 2.25rem;
  }
}

.p-process__lists::before {
  content: "";
  width: 1.4375rem;
  height: 1.4375rem;
  border-right: 0.1875rem solid #CB0000;
  border-bottom: 0.1875rem solid #CB0000;
  position: absolute;
  left: 2.4375rem;
  bottom: 8%;
  transform: translateY(186%) rotate(45deg);
}
@media (max-width: 767px) {
  .p-process__lists::before {
    left: 0.4375rem;
    bottom: 4.875rem;
  }
}

.p-process-list {
  display: flex;
  margin-left: 7.5rem;
  position: relative;
}
@media (max-width: 767px) {
  .p-process-list {
    display: block;
    margin-left: 3rem;
    width: 85.6%;
  }
}

.p-process-list::before {
  content: "";
  position: absolute;
  left: -10.5%;
  top: 50%;
  transform: translateY(-70%);
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  background-color: #cb0000;
}
@media (max-width: 767px) {
  .p-process-list::before {
    left: -2.5rem;
    top: 1.5625rem;
    transform: translateY(-50%);
  }
}

.p-process-list:nth-of-type(1) ::after {
  content: "";
  width: 0.1875rem;
  height: 24.6875rem;
  background-color: #CB0000;
  position: absolute;
  top: 66%;
  left: -4.40625rem;
  transform: translate(-4%, -2%);
}
@media (max-width: 767px) {
  .p-process-list:nth-of-type(1) ::after {
    height: 42.125rem;
    top: 1.5625rem;
    left: -1.9375rem;
    transform: translate(0%, 0%);
  }
}

.p-process-list__title {
  width: 12rem;
  padding-top: 0.5625rem;
  font-size: 1.375rem;
  line-height: 1.5;
  color: #cb0000;
  font-weight: 600;
}

.p-process-list__text {
  font-size: 1.125rem;
  line-height: 1.6666666667;
  font-weight: 500;
}
@media (max-width: 767px) {
  .p-process-list__text {
    margin-top: 0.5625rem;
    font-size: 1rem;
    line-height: 1.875;
  }
}

.p-top-qa {
  padding-block: 3.125rem;
}
@media (max-width: 767px) {
  .p-top-qa {
    padding-block: 1.875rem 1.25rem;
  }
}

.p-qa__lists {
  margin-top: 2.25rem;
  width: 100%;
  border-top: 0.05rem solid #000;
}
@media (max-width: 767px) {
  .p-qa__lists {
    margin-top: 2.4375rem;
  }
}

.p-qa-list {
  border-bottom: 0.05rem solid #000;
}

.p-qa-list__q::after {
  content: "";
  position: absolute;
  right: 1.25rem;
  top: 48%;
  transform: translateY(-50%) rotate(45deg);
  width: 0.8125rem;
  height: 0.8125rem;
  border-right: 0.1rem solid #000;
  border-bottom: 0.1rem solid #000;
  transform-origin: center;
  /* 鋭角に見せるために横幅を縮める */
  scale: 0.8 1.1;
}

.p-qa-list__q.active::after {
  transform: translateY(-50%) rotate(225deg);
}

.p-qa-list__q {
  display: flex;
  position: relative;
  padding-block: 1.25rem 0.9375rem;
  cursor: pointer;
}
@media (max-width: 767px) {
  .p-qa-list__q {
    padding-block: 1.0625rem 0.5625rem;
  }
}

.p-qa-list__a {
  display: flex;
  position: relative;
  padding-block: 1.25rem 0.9375rem;
  background-color: rgba(203, 0, 0, 0.098);
}
@media (max-width: 767px) {
  .p-qa-list__a {
    padding-block: 1.0625rem 0.5625rem;
  }
}

.p-qa-list__circle {
  display: flex;
  color: #FFF;
  font-size: 1.25rem;
  line-height: 1.5;
  width: 2.1875rem;
  height: 2.1875rem;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin-left: 1.21875rem;
}
@media (max-width: 767px) {
  .p-qa-list__circle {
    margin-left: 0rem;
  }
}

.p-qa-list-circle__q {
  background-color: #000;
}

.p-qa-list-circle__a {
  background-color: #cb0000;
}

.p-qa-list__text {
  display: flex;
  align-items: center;
  padding-left: 0.625rem;
  font-size: 1.0625rem;
  line-height: 1.7647058824;
  font-weight: 600;
}
@media (max-width: 767px) {
  .p-qa-list__text {
    padding-left: 1.25rem;
    font-size: 1rem;
    line-height: 1.875;
    font-weight: 500;
    width: 75.2%;
  }
}

.p-qa-list__text-a {
  color: #cb0000;
}
@media (max-width: 767px) {
  .p-qa-list__text-a {
    font-weight: 600;
  }
}

.p-top-blog {
  margin-block: 4.375rem 11.9375rem;
}

.p-blog-lists {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 2.375rem;
  width: 100%;
  -moz-column-gap: 3.125rem;
       column-gap: 3.125rem;
}
@media (max-width: 767px) {
  .p-blog-lists {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 2.4375rem;
    -moz-column-gap: 0rem;
         column-gap: 0rem;
    row-gap: 2.5625rem;
  }
}

.p-blog-list {
  width: 16.25rem;
  transition: 0.3s;
  position: relative;
}
.p-blog-list:hover {
  opacity: 0.5;
}
@media (max-width: 767px) {
  .p-blog-list {
    width: 100%;
  }
}

.p-blog-list__title {
  padding-top: 1.25rem;
  font-size: 1.25rem;
  line-height: 1.25;
  font-weight: 600;
}
@media (max-width: 767px) {
  .p-blog-list__title {
    padding-top: 1.875rem;
    line-height: 1.5;
  }
}

.p-blog-list__date {
  display: block;
  padding-top: 0.6875rem;
  font-size: 1.0625rem;
  line-height: 1.7647058824;
  text-align: right;
}
@media (max-width: 767px) {
  .p-blog-list__date {
    padding-top: 0.375rem;
  }
}

.p-blog-list__caption {
  padding-block: 0.15625rem;
}

.p-blog__link {
  display: flex;
  width: 6.75rem;
  margin-top: 2.3125rem;
  margin-inline: auto;
  justify-content: center;
  align-items: center;
  font-size: 1.125rem;
  line-height: 1;
  border-bottom: 0.05rem solid;
  transition: all 0.4s;
  cursor: pointer;
}
.p-blog__link:hover {
  opacity: 0.7;
}

@media (min-width: 768px) {
  .u-sp {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .u-pc {
    display: none !important;
  }
}