@charset "UTF-8";
/*! destyle.css v4.0.1 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
  min-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Fix appearance for Firefox
 */
[type=number] {
  -moz-appearance: textfield;
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* 色 */
/* リキッドレイアウト */
html {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-text-seize-adjust: 100%;
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
}
@media (max-width: 767px) {
  html html {
    scroll-padding-top: 5rem;
  }
}

html {
  font-size: 16px;
}
@media (min-width: 768px) {
  html {
    font-size: 1.7021276596vw;
  }
}
@media (min-width: 940px) {
  html {
    font-size: 16px;
  }
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}

body {
  margin: 0;
  font-family: "YuGothic", "Yu Gothic", "游ゴシック", "Noto Sans JP", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  color: #000;
}

#container {
  width: 100%;
  overflow: hidden;
}

p, h1, h2, h3, a {
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.l-footer {
  padding-block: 2.75rem 2.625rem;
}
@media (max-width: 767px) {
  .l-footer {
    padding-block: 2.75rem 2.8125rem;
  }
}

.l-footer-nav {
  display: flex;
  justify-content: center;
}

.l-footer-nav__lists {
  display: flex;
  -moz-column-gap: 0.75rem;
       column-gap: 0.75rem;
}
@media (max-width: 767px) {
  .l-footer-nav__lists {
    -moz-column-gap: 0.5625rem;
         column-gap: 0.5625rem;
  }
}

.l-footer-nav__list a {
  font-size: 1.0625rem;
  line-height: 1.9411764706;
  font-weight: 600;
  padding: 0.625rem;
  transition: all 0.4s;
  cursor: pointer;
}
.l-footer-nav__list a:hover {
  opacity: 0.7;
}

.l-footer__logo {
  display: block;
  margin-top: 0.75rem;
  margin-inline: auto;
  width: 3.25rem;
  padding: 0.625rem;
  cursor: pointer;
  transition: all 0.4s;
}
@media (max-width: 767px) {
  .l-footer__logo {
    margin-top: 0.5625rem;
  }
}
.l-footer__logo:hover {
  opacity: 0.7;
}

.l-footer__copyright {
  margin-top: 0.8125rem;
  margin-inline: auto;
  text-align: center;
  font-size: 0.9375rem;
  line-height: 2.2;
}
@media (max-width: 767px) {
  .l-footer__copyright {
    margin-top: 1.1875rem;
    line-height: 1.3333333333;
  }
}

.l-footer__snsbtn {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 767px) {
  .l-footer__snsbtn {
    margin-top: 0.625rem;
  }
}

.l-footer__snsbtn a {
  display: inline-block;
  padding: 0 0.375rem 0.375rem 0.375rem;
  transition: all 0.4s;
  cursor: pointer;
}
@media (max-width: 767px) {
  .l-footer__snsbtn a {
    padding: 0.375rem;
  }
}
.l-footer__snsbtn a:hover {
  opacity: 0.7;
}

.l-header {
  width: 100%;
  position: fixed; /* ヘッダーを固定 */
  top: 0; /* 上部に配置 */
  z-index: 999; /* 表示順序を設定 */
}

.l-inner {
  max-width: 58.75rem;
  padding-inline: 1.875rem;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .l-inner {
    padding-inline: 1.25rem;
  }
}

/* --------------
ハンバーガーメニュー
-----------------*/
.c-hamburger {
  width: 4.4375rem;
  height: 3.125rem;
  background-color: #cb0000;
  position: relative;
}
.c-hamburger span {
  display: block;
  width: 2.0625rem;
  height: 0.25rem;
  background: #FFF;
  border-radius: 0.125rem;
  position: absolute;
  left: 1.1875rem;
  transition: all 0.5s;
}
.c-hamburger span:nth-of-type(1) {
  top: 0.75rem;
}
.c-hamburger span:nth-of-type(2) {
  top: 1.5rem;
}
.c-hamburger span:nth-of-type(3) {
  top: 2.25rem;
}

.c-hamburger.active span:nth-of-type(1) {
  top: 1.5rem;
  transform: rotate(45deg);
}

.c-hamburger.active span:nth-of-type(2) {
  display: none;
}

.c-hamburger.active span:nth-of-type(3) {
  top: 1.5rem;
  transform: rotate(-45deg);
}

/* --------------
ボタン
-----------------*/
.c-btn {
  color: #FFF;
  background-color: #cb0000;
  border: #cb0000 solid;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}
.c-btn:hover {
  color: #cb0000;
  background-color: #FFF;
}

/* --------------
h2(c-title)
-----------------*/
.c-title {
  font-size: 1.875rem;
  line-height: 1.6666666667;
  font-weight: 600;
  text-align: center;
}
@media (max-width: 767px) {
  .c-title {
    font-size: 1.5625rem;
    line-height: 1.6;
  }
}

/* --------------
c-title2(h2)
-----------------*/
.c-title2 {
  font-size: 1.5625rem;
  line-height: 1.3333333333;
  font-weight: 600;
  text-align: center;
}

/* --------------
キャプション
-----------------*/
.c-caption {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.875rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cb0000;
  color: #FFF;
  font-size: 0.9375rem;
  line-height: 1.6666666667;
  z-index: 99;
}
@media (max-width: 767px) {
  .c-caption {
    width: 5.625rem;
  }
}

/* --------------
トップへ戻るボタン
-----------------*/
.c-back-btn {
  display: flex;
  width: 4.25rem;
  height: 4.25rem;
  background-color: #7f7f7f;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  position-anchor: absolute;
  right: 7.25rem;
  z-index: 999;
  cursor: pointer;
  transition: all 0.3s;
}
.c-back-btn:hover {
  opacity: 0.5;
}
@media (max-width: 767px) {
  .c-back-btn {
    right: 1.25rem;
  }
}

.c-back-btn__icon {
  width: 1.6875rem;
}

/* --------------
お問い合わせボタン
-----------------*/
.c-contact-btn {
  width: 18.75rem;
  height: 3.75rem;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.65;
  padding-top: 0.1875rem;
  letter-spacing: 0.2em;
  z-index: 999;
  position: absolute;
  bottom: 28.2rem;
  right: 0;
}
@media (max-width: 767px) {
  .c-contact-btn {
    padding: 0.75rem 6.3125rem 0.75rem 6.125rem;
    bottom: 19rem;
    left: 50%;
    right: auto;
    transform: translateX(-50%);
    width: 20.9375rem;
    white-space: nowrap;
  }
}

/* --------------
c-circle
-----------------*/
.c-circle {
  display: inline-block;
  width: 0.9375rem;
  height: 0.9375rem;
  border-radius: 50%;
}

.c-circle__black {
  background-color: #000;
}

.c-circle__red {
  background-color: #cb0000;
}

/* --------------
c-pagination
-----------------*/
.c-pagination {
  margin-top: 4.375rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media (max-width: 767px) {
  .c-pagination {
    margin-top: 3.6875rem;
  }
}

.c-pagination__item {
  display: block;
  margin-right: 0.625rem;
  width: 3.125rem;
  height: 3.125rem;
  border: 0.0625rem solid #000;
}
@media (max-width: 767px) {
  .c-pagination__item {
    margin-right: 0.3125rem;
    width: 2.75rem;
    height: 2.75rem;
  }
}

.c-pagination__item a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.6666666667;
  transition: all 0.3s ease;
}
@media (max-width: 767px) {
  .c-pagination__item a {
    font-size: 1rem;
    line-height: 1.75;
  }
}
.c-pagination__item a:hover {
  background-color: #000;
  color: #FFF;
}

.c-pagination__active {
  background-color: #000;
  color: #FFF;
  transition: none;
}

.c-pagination__active a {
  cursor: default;
}

.c-pagination__disable {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.125rem;
  margin-right: 0.625rem;
}
@media (max-width: 767px) {
  .c-pagination__disable {
    font-size: 1rem;
    margin-right: 0.3125rem;
  }
}

.p-top-fv {
  margin-top: 5rem;
  width: 100%;
  position: relative;
  overflow: hidden;
}
@media (max-width: 767px) {
  .p-top-fv {
    margin-top: 3.125rem;
  }
}

.p-top-fv__bg {
  width: 100%;
  position: relative;
}

.p-top-fv__bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(80, 80, 80, 0.502);
  z-index: 9;
  mix-blend-mode: multiply;
  pointer-events: none;
}

.p-top-fv__message {
  position: absolute;
  top: 52%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
@media (max-width: 767px) {
  .p-top-fv__message {
    top: 51.5%;
  }
}

.p-top-fv__title {
  color: #FFF;
  font-size: 2.5rem;
  line-height: 1.5;
  font-weight: 600;
  text-align: center;
}
@media (max-width: 767px) {
  .p-top-fv__title {
    font-size: 1.875rem;
    line-height: 1.6666666667;
  }
}

.p-top-concept {
  padding-block: 4.125rem 2.9375rem;
  background-color: #FFF;
}
@media (max-width: 767px) {
  .p-top-concept {
    padding-block: 2.875rem 1.75rem;
  }
}

.p-top-concept__title {
  font-size: 2.1875rem;
  line-height: 1.4285714286;
  color: #cb0000;
  font-weight: 600;
  text-align: center;
}
@media (max-width: 767px) {
  .p-top-concept__title {
    font-size: 1.5625rem;
    line-height: 1.6;
  }
}

.p-top-concept__message {
  font-size: 1.125rem;
  line-height: 1.6666666667;
  text-align: center;
  margin-block: 1.0625rem 2.125rem;
}
@media (max-width: 767px) {
  .p-top-concept__message {
    font-size: 1.125rem;
    margin-block: 0.4375rem 1.25rem;
  }
}

.p-top-concept__image {
  width: 53.625rem;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .p-top-concept__image {
    width: 100%;
  }
}

.p-concept-flow {
  width: 100%;
  margin-top: 0.75rem;
}
@media (max-width: 767px) {
  .p-concept-flow {
    margin-top: 1.5625rem;
  }
}

.p-flow-card {
  width: 100%;
  padding-block: 0.54375rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 767px) {
  .p-flow-card {
    padding-block: 0.53125rem;
  }
}

.p-flow-card__en {
  width: 9.375rem;
  font-size: 1.5625rem;
  line-height: 2;
  font-weight: 600;
  color: #cb0000;
  text-align: right;
}
@media (max-width: 767px) {
  .p-flow-card__en {
    width: 7.5rem;
    font-size: 1.25rem;
    line-height: 2.5;
  }
}

.p-flow-card__circle {
  background-color: #cb0000;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  margin-inline: 1.875rem;
  position: relative;
}

.p-flow-card__ja {
  width: 9.375rem;
  font-size: 1.4375rem;
  line-height: 2.1739130435;
  text-align: left;
}
@media (max-width: 767px) {
  .p-flow-card__ja {
    width: 6.875rem;
    font-size: 1.25rem;
    line-height: 2.5;
  }
}

.p-flow-card:first-of-type .p-flow-card__circle::before {
  content: "";
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  border-top: 0.1875rem solid #CB0000;
  border-left: 0.1875rem solid #CB0000;
  top: -47%;
  left: -0.1rem;
  transform: translateY(-134%) rotate(45deg);
}

.p-flow-card:last-of-type .p-flow-card__circle::after {
  content: "";
  position: absolute;
  width: 0.1875rem;
  height: 12.125rem;
  background-color: #CB0000;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -91%);
}

@media (max-width: 767px) {
  .p-flow-card:first-of-type .p-flow-card__circle::before {
    content: "";
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    top: -47%;
    left: -0.125rem;
    transform: translateY(-134%) rotate(45deg);
  }
  .p-flow-card:last-of-type .p-flow-card__circle::after {
    content: "";
    position: absolute;
    height: 12.125rem;
    background-color: #CB0000;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -91%);
  }
}
.p-top-message {
  padding-block: 4.25rem 3.75rem;
  background-color: #cb0000;
}
@media (max-width: 767px) {
  .p-top-message {
    padding-block: 3.0625rem 2.5rem;
  }
}

.p-top-message__title {
  color: #FFF;
}

.p-top-message__text {
  margin-top: 1.875rem;
  font-size: 1.125rem;
  line-height: 1.6666666667;
  color: #FFF;
  text-align: center;
}
@media (max-width: 767px) {
  .p-top-message__text {
    margin-top: 0.875rem;
  }
}

.p-top-reason {
  padding-block: 4rem 5.625rem;
}
@media (max-width: 767px) {
  .p-top-reason {
    padding-block: 3.0625rem 2.4375rem;
  }
}

.p-top-reason__items {
  display: grid;
  margin-top: 1.75rem;
  row-gap: 3.125rem;
}
@media (max-width: 767px) {
  .p-top-reason__items {
    margin-top: 2.25rem;
    row-gap: 2.4375rem;
  }
}

.p-reason-card {
  display: flex;
  width: 100%;
}
@media (max-width: 767px) {
  .p-reason-card {
    display: block;
  }
}

.p-reason-card__image {
  width: 21.875rem;
}
@media (max-width: 767px) {
  .p-reason-card__image {
    width: 100%;
  }
}

.p-reason-card__body {
  flex: 1;
}
@media (max-width: 767px) {
  .p-reason-card__body {
    width: 100%;
  }
}

.p-reason-card__title {
  padding-left: 3.125rem;
  padding-bottom: 0.5rem;
  font-size: 1.375rem;
  line-height: 1.5;
  font-weight: 600;
  border-bottom: 2px solid #cb0000;
}
@media (max-width: 767px) {
  .p-reason-card__title {
    padding-left: 0;
    padding-top: 1.875rem;
    padding-bottom: 0.5rem;
    font-size: 1.25rem;
    line-height: 1.5;
  }
}

.p-reason-card__text {
  padding-left: 3.125rem;
  padding-top: 2.3125rem;
  font-size: 1.125rem;
  line-height: 1.8333333333;
}
@media (max-width: 767px) {
  .p-reason-card__text {
    padding-left: 0;
    padding-top: 1.0625rem;
    font-size: 1rem;
    line-height: 1.875;
  }
}

.p-top-voice {
  padding-block: 2.75rem 5rem;
  background-color: #cb0000;
}
@media (max-width: 767px) {
  .p-top-voice {
    padding-block: 2.8125rem 3.125rem;
  }
}

.p-top-voice__inner {
  max-width: 64.375rem;
  padding-inline: 3.75rem;
}
@media (max-width: 767px) {
  .p-top-voice__inner {
    padding-inline: 1.25rem;
  }
}

.p-top-voice__title {
  color: #FFF;
}

.p-voice-slider {
  margin-top: 2.25rem;
  width: 100%;
  position: relative;
  display: block;
  align-items: center;
}
@media (max-width: 767px) {
  .p-voice-slider {
    margin-top: 2.4375rem;
  }
}

.p-voice-slider__arrow-l, .p-voice-slider__arrow-r {
  position: absolute;
  top: 43%;
  left: -0.625rem;
  transform: translateY(-50%);
  z-index: 100;
  width: 1.875rem;
}

.p-voice-slider__cards {
  width: 56.875rem;
}
@media (max-width: 767px) {
  .p-voice-slider__cards {
    width: 100%;
  }
}

.p-slider-card {
  width: 16.875rem;
  margin-inline: 1.09375rem;
}
@media (max-width: 767px) {
  .p-slider-card {
    width: 100%;
    margin-inline: 0;
  }
}

.p-slider-card__img {
  width: 100%;
  transition: transform 0.3s ease;
}

.p-slider-card__img:hover .p-slider__img {
  transform: scale(1.05);
}

.p-slider-card__name {
  padding-top: 1.0625rem;
  font-size: 1.375rem;
  line-height: 1.5;
  font-weight: 600;
  text-align: center;
  color: #FFF;
}
@media (max-width: 767px) {
  .p-slider-card__name {
    padding-top: 1.6875rem;
  }
}

.p-slider-card__comment {
  padding-top: 0.625rem;
  font-size: 1.125rem;
  line-height: 1.6666666667;
  font-weight: 500;
  color: #FFF;
}

.slick-prev,
.slick-next {
  position: absolute;
  top: 9.0625rem;
  width: 1.875rem;
  height: auto;
  z-index: 100 !important;
  transform: translateY(-50%);
  cursor: pointer;
}
@media (max-width: 767px) {
  .slick-prev,
  .slick-next {
    top: 37%;
  }
}

.slick-prev {
  left: -1.875rem;
}
@media (max-width: 767px) {
  .slick-prev {
    left: 0%;
  }
}

.slick-next {
  right: -1.875rem;
}
@media (max-width: 767px) {
  .slick-next {
    right: 0%;
  }
}

.p-top-process {
  padding-block: 2.125rem 2.5625rem;
}
@media (max-width: 767px) {
  .p-top-process {
    padding-block: 2.875rem 1.5625rem;
  }
}

.p-top-process__lists {
  margin-top: 3.3125rem;
  padding-left: 3.125rem;
  padding-bottom: 1rem;
  position: relative;
}
@media (max-width: 767px) {
  .p-top-process__lists {
    margin-top: 2.25rem;
    padding-left: 0.5rem;
    padding-bottom: 0rem;
  }
}

.p-top-process__lists::before {
  content: "";
  position: absolute;
  display: block;
  top: 1.5625rem;
  bottom: 0.0625rem;
  left: 3.75rem;
  translate: -50%;
  width: 0.1875rem;
  background-color: #cb0000;
}
@media (max-width: 767px) {
  .p-top-process__lists::before {
    top: 1.25rem;
    left: 1.125rem;
    bottom: 0.625rem;
  }
}

.p-top-process__lists::after {
  position: absolute;
  display: block;
  content: "";
  left: 3.75rem;
  bottom: 0rem;
  transform-origin: left bottom;
  rotate: -45deg;
  width: 1.5rem;
  height: 1.5rem;
  border-left: 0.1875rem solid #cb0000;
  border-bottom: 0.1875rem solid #cb0000;
}
@media (max-width: 767px) {
  .p-top-process__lists::after {
    left: 1.125rem;
    bottom: 0.5rem;
  }
}

.p-process-list {
  display: flex;
  align-items: flex-start;
  -moz-column-gap: 2.375rem;
       column-gap: 2.375rem;
  position: relative;
}
@media (max-width: 767px) {
  .p-process-list {
    display: block;
    -moz-column-gap: 0rem;
         column-gap: 0rem;
  }
}

.p-process-list:nth-of-type(n + 2) {
  margin-top: 3.625rem;
}
@media (max-width: 767px) {
  .p-process-list:nth-of-type(n + 2) {
    margin-top: 2.25rem;
  }
}

.p-process-list__title {
  display: flex;
  width: 14rem;
  font-size: 1.375rem;
  line-height: 1.5;
  color: #cb0000;
  font-weight: 600;
  gap: 3.125rem;
  margin-top: 0.625rem;
}
@media (max-width: 767px) {
  .p-process-list__title {
    margin-top: 0.3125rem;
    gap: 1.25rem;
  }
}

.p-process-list__title::before {
  content: "";
  width: 1.25rem;
  height: 1.25rem;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: #cb0000;
  align-self: center;
}

.p-process-list__text {
  flex: 1;
  font-size: 1.125rem;
  line-height: 1.6666666667;
  font-weight: 500;
}
@media (max-width: 767px) {
  .p-process-list__text {
    padding-left: 2.5rem;
    margin-top: 0.5625rem;
    font-size: 1rem;
    line-height: 1.875;
  }
}

.p-top-qa {
  padding-block: 3.125rem;
}
@media (max-width: 767px) {
  .p-top-qa {
    padding-block: 1.875rem 1.25rem;
  }
}

.p-top-qa__lists {
  margin-top: 2.25rem;
  width: 100%;
  border-top: 0.05rem solid #000;
}
@media (max-width: 767px) {
  .p-top-qa__lists {
    margin-top: 2.375rem;
  }
}

.p-qa-list {
  border-bottom: 0.05rem solid #000;
}

.p-qa-list__q::after {
  content: "";
  position: absolute;
  right: 1.875rem;
  top: 48%;
  transform: translateY(-50%) rotate(45deg);
  width: 0.8125rem;
  height: 0.8125rem;
  border-right: 0.1rem solid #000;
  border-bottom: 0.1rem solid #000;
  transform-origin: center;
  /* 鋭角に見せるために横幅を縮める */
  scale: 0.8 1.1;
}
@media (max-width: 767px) {
  .p-qa-list__q::after {
    right: 0.9375rem;
    top: 50%;
  }
}

.p-qa-list__q.active::after {
  transform: translateY(-20%) rotate(225deg);
}

.p-qa-list__q {
  display: flex;
  position: relative;
  padding-block: 0.9375rem;
  cursor: pointer;
}
@media (max-width: 767px) {
  .p-qa-list__q {
    padding-block: 1.0625rem 0.5625rem;
  }
}

.p-qa-list__a {
  display: flex;
  position: relative;
  padding-block: 0.9375rem;
  background-color: rgba(203, 0, 0, 0.098);
}
@media (max-width: 767px) {
  .p-qa-list__a {
    padding-block: 1.0625rem 0.5625rem;
  }
}

.p-qa-list__circle {
  display: flex;
  color: #FFF;
  font-size: 1.25rem;
  line-height: 1.5;
  width: 2.1875rem;
  height: 2.1875rem;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin-left: 1.21875rem;
}
@media (max-width: 767px) {
  .p-qa-list__circle {
    margin-left: 0rem;
    align-self: center;
  }
}

.p-qa-list-circle__q {
  background-color: #000;
}

.p-qa-list-circle__a {
  background-color: #cb0000;
}

.p-qa-list__text {
  display: flex;
  align-items: center;
  padding-left: 0.625rem;
  font-size: 1.0625rem;
  line-height: 1.7647058824;
  font-weight: 600;
}
@media (max-width: 767px) {
  .p-qa-list__text {
    padding-left: 1.25rem;
    font-size: 1rem;
    line-height: 1.875;
    font-weight: 500;
    width: 75.2%;
  }
}

.p-qa-list__text-a {
  color: #cb0000;
}
@media (max-width: 767px) {
  .p-qa-list__text-a {
    font-weight: 600;
  }
}

.p-top-blog {
  padding-block: 1.0625rem 13.125rem;
}
@media (max-width: 767px) {
  .p-top-blog {
    padding-block: 1.5rem 12.25rem;
  }
}

.p-top-blog__lists {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 2.1875rem;
  width: 100%;
  -moz-column-gap: 3.125rem;
       column-gap: 3.125rem;
}
@media (max-width: 767px) {
  .p-top-blog__lists {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 2.4375rem;
    -moz-column-gap: 0rem;
         column-gap: 0rem;
    row-gap: 2.5625rem;
  }
}

.p-top-blog__more {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 2.75rem;
}
@media (max-width: 767px) {
  .p-top-blog__more {
    margin-top: 2.6875rem;
    justify-content: center;
  }
}

.p-top-blog__link {
  font-size: 1.125rem;
  line-height: 1;
  border-bottom: 0.05rem solid;
  transition: all 0.4s;
  cursor: pointer;
}
.p-top-blog__link:hover {
  opacity: 0.7;
}

.p-blog-card {
  width: 16.25rem;
  transition: 0.3s;
  position: relative;
}
.p-blog-card:hover {
  opacity: 0.5;
}
@media (max-width: 767px) {
  .p-blog-card {
    width: 100%;
  }
}

.p-blog-card__title {
  padding-top: 1.25rem;
  font-size: 1.25rem;
  line-height: 1.25;
  font-weight: 600;
}
@media (max-width: 767px) {
  .p-blog-card__title {
    padding-top: 1.875rem;
    line-height: 1.5;
  }
}

.p-blog-card__date {
  display: block;
  padding-top: 0.6875rem;
  font-size: 1.0625rem;
  line-height: 1.7647058824;
  text-align: right;
}
@media (max-width: 767px) {
  .p-blog-card__date {
    padding-top: 0.375rem;
  }
}

.p-blog-card__caption {
  padding-block: 0.15625rem;
}

.p-header {
  height: 5rem;
  text-align: center;
  background-color: #FFF;
}
@media (max-width: 767px) {
  .p-header {
    height: 3.125rem;
  }
}

.p-header__inner {
  max-width: 58.75rem;
  padding-inline: 1.875rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
@media (max-width: 767px) {
  .p-header__inner {
    padding-inline: 1.25rem 0;
  }
}

.p-header__right {
  height: 100%;
  display: flex;
  align-items: center;
}

.p-header__btn {
  margin-left: 1.4375rem;
  padding: 0.3125rem 1.8125rem 0.3125rem 1.8125rem;
  font-size: 0.9375rem;
  line-height: 2.2;
  font-weight: 700;
}

.p-header-logo {
  height: 100%;
  display: flex;
  align-items: center;
  -moz-column-gap: 0.625rem;
       column-gap: 0.625rem;
  transition: 0.3s;
}
.p-header-logo:hover {
  opacity: 0.5;
}
@media (max-width: 767px) {
  .p-header-logo {
    -moz-column-gap: 0.375rem;
         column-gap: 0.375rem;
  }
}

.p-header-logo__image {
  width: 2rem;
}
@media (max-width: 767px) {
  .p-header-logo__image {
    width: 1.3125rem;
  }
}

.p-header-logo__text {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.15;
  padding-top: 0.25rem;
  text-align: left;
}
@media (max-width: 767px) {
  .p-header-logo__text {
    font-size: 0.8125rem;
    line-height: 1.0769230769;
    padding-top: 0;
  }
}
.p-header-logo__text span {
  font-size: 0.9375rem;
}
@media (max-width: 767px) {
  .p-header-logo__text span {
    font-size: 0.8125rem;
  }
}

.p-header-nav {
  height: 100%;
}

.p-header-nav__lists {
  height: 100%;
  display: flex;
  -moz-column-gap: 0.8125rem;
       column-gap: 0.8125rem;
}
@media (max-width: 767px) {
  .p-header-nav__lists {
    display: block;
    width: 18.75rem;
    height: 10.875rem;
    background-color: #cb0000;
    position: fixed;
    top: 3.125rem;
    right: -120%;
    transition: all 0.5s;
  }
}

.p-header-nav__lists.active {
  right: 0%;
}

.p-header-nav__lists li {
  height: 100%;
}
@media (max-width: 767px) {
  .p-header-nav__lists li {
    display: block;
    height: 3.625rem;
  }
}

.p-header-nav__list {
  height: 100%;
  display: flex;
  padding-inline: 0.625rem;
  align-items: center;
  font-size: 1.0625rem;
  line-height: 1.9411764706;
  font-weight: 700;
  color: #000;
  position: relative;
  transition: 0.5s;
}
.p-header-nav__list:hover {
  opacity: 0.5;
}
@media (max-width: 767px) {
  .p-header-nav__list {
    width: 100%;
    height: 100%;
    padding-inline: 1.25rem;
    font-size: 1.125rem;
    line-height: 1.8333333333;
    color: #FFF;
  }
  .p-header-nav__list:hover {
    background-color: #000;
    opacity: 1;
  }
}

@media (min-width: 768px) {
  .p-header-nav__list::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 1.5625rem;
    width: 0;
    height: 0.125rem;
    background-color: #000;
    transition: width 0.3s ease, left 0.3s ease;
  }
  .p-header-nav__list:hover::after {
    width: 100%;
    left: 0;
  }
}
.p-footer {
  background-color: #cb0000;
  color: #FFF;
}

.p-footer__logo {
  display: block;
  margin-top: 0.75rem;
  margin-inline: auto;
  width: 3.25rem;
  padding: 0.625rem;
  cursor: pointer;
  transition: all 0.4s;
}
@media (max-width: 767px) {
  .p-footer__logo {
    margin-top: 0.5625rem;
  }
}
.p-footer__logo:hover {
  opacity: 0.7;
}

.p-footer__copyright {
  margin-top: 0.8125rem;
  margin-inline: auto;
  text-align: center;
  font-size: 0.9375rem;
  line-height: 2.2;
}
@media (max-width: 767px) {
  .p-footer__copyright {
    margin-top: 1.1875rem;
    line-height: 1.3333333333;
  }
}

.p-footer__snsbtn {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 767px) {
  .p-footer__snsbtn {
    margin-top: 0.625rem;
  }
}

.p-footer__snsbtn a {
  display: inline-block;
  padding: 0 0.375rem 0.375rem 0.375rem;
  transition: all 0.4s;
  cursor: pointer;
}
@media (max-width: 767px) {
  .p-footer__snsbtn a {
    padding: 0.375rem;
  }
}
.p-footer__snsbtn a:hover {
  opacity: 0.7;
}

.p-footer-nav {
  display: flex;
  justify-content: center;
}

.p-footer-nav__lists {
  display: flex;
  -moz-column-gap: 0.75rem;
       column-gap: 0.75rem;
}
@media (max-width: 767px) {
  .p-footer-nav__lists {
    -moz-column-gap: 0.5625rem;
         column-gap: 0.5625rem;
  }
}

.p-footer-nav__list a {
  font-size: 1.0625rem;
  line-height: 1.9411764706;
  font-weight: 600;
  padding: 0.625rem;
  transition: all 0.4s;
  cursor: pointer;
}
.p-footer-nav__list a:hover {
  opacity: 0.7;
}

.p-fv-lower {
  margin-top: 5rem;
  width: 100%;
  position: relative;
  overflow: hidden;
}
@media (max-width: 767px) {
  .p-fv-lower {
    margin-top: 3.125rem;
  }
}

.p-fv-lower__bg {
  width: 100%;
  position: relative;
}

.p-fv-lower__bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(80, 80, 80, 0.502);
  z-index: 9;
  mix-blend-mode: multiply;
  pointer-events: none;
}

.p-fv-lower__title {
  position: absolute;
  top: 52%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
@media (max-width: 767px) {
  .p-fv-lower__title {
    top: 51.5%;
  }
}

.p-fv-lower__title h1 {
  color: #FFF;
  font-size: 1.5625rem;
  line-height: 2.4;
  font-weight: 600;
  text-align: center;
}
.p-breadcrumbs__inner {
  padding-inline: 1.4375rem;
}
@media (max-width: 767px) {
  .p-breadcrumbs__inner {
    padding-inline: 0.8125rem;
  }
}

.p-breadcrumbs {
  padding-top: 0.1875rem;
  background-color: #e8e8e8;
}

.p-breadcrumbs__list {
  width: 100%;
  height: 100%;
}

.p-breadcrumbs__list ul {
  width: 100%;
  display: flex;
  height: 100%;
  -moz-column-gap: 0.1875rem;
       column-gap: 0.1875rem;
}

.p-breadcrumbs__item {
  display: flex;
  height: 100%;
  padding: 0.4375rem;
  font-size: 1rem;
  line-height: 2.0625;
}
@media (max-width: 767px) {
  .p-breadcrumbs__item {
    padding: 0rem;
    padding-inline: 0.4375rem;
  }
}

.p-breadcrumbs__item a {
  cursor: pointer;
  transition: 0.3s;
}
.p-breadcrumbs__item a:hover {
  opacity: 0.5;
}

.p-plan-price {
  padding-block: 4.3125rem 1.25rem;
}
@media (max-width: 767px) {
  .p-plan-price {
    padding-block: 3.125rem 1.25rem;
  }
}

.p-plan-price__btns {
  margin-top: 2.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 1.875rem;
       column-gap: 1.875rem;
}
@media (max-width: 767px) {
  .p-plan-price__btns {
    display: flex;
    flex-direction: column;
    row-gap: 1.25rem;
  }
}

.p-plan-price__btn {
  font-size: 1.25rem;
  line-height: 1.65;
  font-weight: 600;
  width: 13.125rem;
  height: 3.75rem;
}
@media (max-width: 767px) {
  .p-plan-price__btn {
    margin: 0 auto;
  }
}

.p-plan-price__plus {
  position: relative;
  width: 1.15625rem;
  height: 1.15625rem;
}
.p-plan-price__plus::before, .p-plan-price__plus::after {
  content: "";
  position: absolute;
  background-color: #000;
}
.p-plan-price__plus::before {
  width: 0.1875rem;
  height: 1.15625rem;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.p-plan-price__plus::after {
  width: 1.15625rem;
  height: 0.1875rem;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.p-plan-price__text {
  margin-top: 3rem;
  font-size: 1.125rem;
  line-height: 1.6666666667;
  padding-inline: 0rem;
}
@media (max-width: 767px) {
  .p-plan-price__text {
    font-size: 1rem;
    line-height: 1.875;
  }
}

.p-plan-table {
  padding-block: 2.5rem 13.9375rem;
}
@media (max-width: 767px) {
  .p-plan-table {
    padding-block: 1.25rem 11.625rem;
  }
}

.p-plan-table__wrap {
  margin-top: 3.25rem;
}
@media (max-width: 767px) {
  .p-plan-table__wrap {
    margin-top: 1rem;
    overflow-x: scroll;
    table-layout: fixed;
  }
}

@media (max-width: 767px) {
  .p-plan-table__wrap {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .p-plan-table__wrap::-webkit-scrollbar {
    height: 1.5625rem;
  }
  .p-plan-table__wrap::-webkit-scrollbar-thumb {
    background: rgba(80, 80, 80, 0.251);
  }
  .p-plan-table__wrap::-webkit-scrollbar-track {
    background: rgba(80, 80, 80, 0.149);
  }
}
.p-plan-table__list {
  border-collapse: collapse;
  width: 100%;
  border-bottom: 0.03125rem solid #000;
}
@media (max-width: 767px) {
  .p-plan-table__list {
    margin-bottom: 1.09375rem;
    width: 41.875rem;
  }
}

.p-plan-table__text {
  margin-top: 1.75rem;
  font-size: 1.0625rem;
  line-height: 1.4705882353;
}
@media (max-width: 767px) {
  .p-plan-table__text {
    margin-top: 1.0625rem;
    font-size: 1rem;
    line-height: 1.875;
  }
}

.p-table-head {
  width: 100%;
  height: 5rem;
  border-bottom: 0.05rem solid #000;
  font-size: 1.25rem;
  line-height: 1.65;
  color: #FFF;
}
@media (max-width: 767px) {
  .p-table-head {
    line-height: 1.25;
  }
}

.p-table-head__black {
  width: 25%;
  vertical-align: bottom;
}

.p-table-head__red {
  width: 25%;
  background-color: #cb0000;
  border-inline: 0.05rem solid #000;
  text-align: center;
  vertical-align: bottom;
  padding-bottom: 0.3125rem;
}
.p-table-head__red span {
  font-size: 1.0625rem;
  line-height: 1.9411764706;
}

.p-table-head__inner {
  height: 3.125rem;
  align-items: flex-end;
  justify-content: center;
  padding-block: 0.625rem 0.4375rem;
  background-color: #000;
  border-inline: 0.05rem solid #000;
  text-align: center;
}
@media (max-width: 767px) {
  .p-table-head__inner {
    height: 4.125rem;
  }
}

.p-table-body {
  height: 5.3125rem;
  color: #000;
}

.p-table-body:first-of-type {
  font-weight: 600;
}

.p-table-body__category {
  width: 25%;
  font-size: 1.0625rem;
  line-height: 1.7647058824;
  text-align: left;
  padding-left: 1.25rem;
  vertical-align: middle;
}
@media (max-width: 767px) {
  .p-table-body__category {
    font-size: 1rem;
    line-height: 1.5625;
    padding-left: 0.625rem;
    padding-top: 0.3125rem;
  }
}

.p-table-body__price {
  width: 25%;
  font-size: 1.375rem;
  font-weight: 600;
  line-height: 1.5;
  border-left: 0.05rem solid #000;
  vertical-align: middle;
  text-align: center;
}
@media (max-width: 767px) {
  .p-table-body__price {
    padding-top: 0.3125rem;
  }
}

.p-table-body__red {
  color: #cb0000;
}

.p-table-body__gray {
  background-color: rgba(80, 80, 80, 0.149);
}

.p-table-body__item {
  border-left: 0.05rem solid #000;
  font-size: 1.0625rem;
  line-height: 1.4705882353;
  vertical-align: middle;
  text-align: center;
}

.p-table-body__line {
  display: inline-block;
  width: 1.875rem;
  height: 0.0625rem;
  background: #707070;
  vertical-align: middle;
}

.p-list-section {
  padding-block: 4.1875rem 13.125rem;
}
@media (max-width: 767px) {
  .p-list-section {
    padding-block: 3.125rem 13.125rem;
  }
}

.p-list-section__items {
  margin-top: 2.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 4.375rem;
}
@media (max-width: 767px) {
  .p-list-section__items {
    margin-top: 2.4375rem;
    row-gap: 2.4375rem;
  }
}

.p-list-item {
  transition: all 0.3s ease;
}
.p-list-item:hover {
  opacity: 0.5;
}

.p-list-item__wrap {
  width: 100%;
  display: flex;
  -moz-column-gap: 3.125rem;
       column-gap: 3.125rem;
  transition: 0.3s;
}
.p-list-item__wrap:hover {
  opacity: 0.5;
}
@media (max-width: 767px) {
  .p-list-item__wrap {
    flex-direction: column;
    row-gap: 1.875rem;
  }
}

.p-list-item__right {
  position: relative;
  width: 16.25rem;
}
@media (max-width: 767px) {
  .p-list-item__right {
    width: 100%;
  }
}

.p-list-item__image {
  width: 16.25rem;
  overflow: hidden;
}
@media (max-width: 767px) {
  .p-list-item__image {
    width: 100%;
  }
}

.p-list-item__textarea {
  flex: 1;
}

.p-list-item__title {
  font-size: 1.25rem;
  line-height: 1.25;
  font-weight: 600;
}
@media (max-width: 767px) {
  .p-list-item__title {
    line-height: 1.5;
  }
}

.p-list-item__time {
  font-size: 1.0625rem;
  line-height: 1.7647058824;
  margin-top: 0.1875rem;
}
@media (max-width: 767px) {
  .p-list-item__time {
    margin-top: 0.375rem;
    display: flex;
    justify-content: end;
  }
}

.p-list-item__article {
  font-size: 1.125rem;
  line-height: 1.6666666667;
  margin-top: 0.6875rem;
}
@media (max-width: 767px) {
  .p-list-item__article {
    font-size: 1rem;
    line-height: 1.875;
    margin-top: 0.5rem;
  }
}

@media (min-width: 768px) {
  .u-sp {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .u-pc {
    display: none !important;
  }
}
.u-scroll-show.active {
  opacity: 1;
  visibility: visible;
}