@use '../../foundation/variable' as *;
@use '../../foundation/function' as *; 
@use '../../foundation/mixin' as *;


@include pc {
    .u-sp {
        display: none !important;
    }
}

@include sp {
    .u-pc {
        display: none !important;
    }
}

.u-scroll-show {
    opacity: 0;
    // visibility: hidden;
    pointer-events: none;
    // transition: opacity 0.5s ease, visibility 0.5s ease;
    transition: opacity 0.5s ease;
}

.u-scroll-show.active {
    opacity: 1;
    pointer-events: auto;
    // visibility: visible;
}