@use '../../foundation/variable' as *;
@use '../../foundation/function' as *; 
@use '../../foundation/mixin' as *;

// ==========================================================================
// p-breadcrumbs
// ==========================================================================

.p-breadcrumbs {
    background-color: #e8e8e8;
}

.p-breadcrumbs__list {
    width: 100%;
    height: 100%;
}

.p-breadcrumbs__list ul {
    width: 100%;
    max-width: rem(880);
    display: flex;
    height: 100%;
    column-gap: rem(17);
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    @include sp {
        column-gap: rem(17);
    }
}

.p-breadcrumbs__list2 {
    column-gap: rem(20);
}

.p-breadcrumbs__list li {
    height: 100%;
}

.p-breadcrumbs__item {
    height: 100%;
    font-size: rem(16);
    line-height: 1;
    padding-block: rem(18) rem(16);
    @include sp {
        padding-block: rem(3) 0;
        line-height: calc(33 / 16);
        display: flex;
        align-items: center;
    }
}

.p-breadcrumbs__item2 {
        @include sp {
        line-height: 1;
        padding-block: rem(12) 0;
        display: flex;
        align-items: center;
        }
}

.p-breadcrumbs__item a {
    cursor: pointer;
    transition: 0.3s;
    &:hover {
        opacity: 0.5;
    }
}

.p-breadcrumbs__text {
    line-height: calc(33 / 16);
    padding-block: 0;
    @include sp {
        line-height: 1.2;
        padding-block: rem(4) rem(6);
    }
}