@use '../../foundation/variable' as *;
@use '../../foundation/function' as *; 
@use '../../foundation/mixin' as *;

// ==========================================================================
// p-plan-price
// ==========================================================================

.p-plan-price {
    padding-block: rem(67) rem(20);
    @include sp {
        padding-block: rem(46) rem(20);
    }
}

.p-plan-price__btns {
    margin-top: rem(40);
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: rem(60);
    @include sp {
        display: flex;
        flex-direction: column;  // 縦並びに
        row-gap: rem(19); 
    }
}

.p-plan-price__btn {
    font-size: rem(20);
    line-height: calc(33 / 20);
    font-weight: 600;
    width: rem(210);
    height: rem(60);
    @include sp {
        margin: 0 auto;
    }
}

.p-plan-price__plus {
    position: relative;
    width: rem(18.5);
    height: rem(18.5);
    @include sp {
    }
  
    &::before,
    &::after {
      content: "";
      position: absolute;
      background-color: $font-color1; // プラスの線の色（白）
      @include sp {
      }
    }
  
    &::before {
      width: rem(3);
      height: rem(18.5); // 縦線
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  
    &::after {
      width: rem(18.5);
      height: rem(3); // 横線
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

.p-plan-price__text {
    margin-top: rem(48);
    font-size: rem(18);
    line-height: calc(30 / 18);
    @include sp {
        font-size: rem(16);
        line-height: calc(30 / 16);
    }
}

// ==========================================================================
// p-plan-table
// ==========================================================================

.p-plan-table {
    padding-block: rem(37) rem(223);
}

.p-plan-table__wrap {
    margin-top: rem(50);
}

.p-plan-table__list {
    border-collapse: collapse;
    width: 100%;
    border-bottom: rem(0.5) solid $font-color1;
}

// ==========================================================================
// p-table-head
// ==========================================================================

.p-table-head {
    width: 100%;
    display: flex;
    height: rem(80);
    border-bottom: rem(0.5) rem(0.5) ;
    font-size: rem(20);
    line-height: calc(33 / 20);
    color: $font-color2;
}

.p-table-head__black {
    // display: block;
    width: 25%;
    margin-top: rem(30);
    padding-block: rem(10) rem(7);
    background-color: $font-color1;
    border-inline: rem(0.5) solid $font-color1;
    text-align: center;
}

.p-table-head__red {
    // display: block;
    width: 25%;
    background-color: $main-color;
    border-inline: rem(0.5) solid $font-color1;
    text-align: center;
    vertical-align: bottom;
    span {
        font-size: rem(17);
        line-height: calc(33 / 17);
    }
}