@use '../../foundation/variable' as *;
@use '../../foundation/function' as *; 
@use '../../foundation/mixin' as *;

// ==========================================================================
// p-result-details
// ==========================================================================

.p-result-details {
    margin-top: rem(80);
    @include sp {
        margin-top: rem(50);
    }
}

// ==========================================================================
// p-details
// ==========================================================================

.p-details {
    margin-block: rem(70);
}

.p-details__imagearea {
    position: relative;
}

.p-details__image {
    width: 100%;
}

.p-details__caption {
    width: rem(100);
}

.p-details__title {
    margin-top: rem(50);
    font-size: rem(25);
    line-height: calc(40 / 25);
    font-weight: 600;
}

.p-details__time {
    margin-top: rem(15);
    font-size: rem(17);
    line-height: calc(30 / 17);
}

.p-details__tablearea {
    display: flex;
    margin-top: rem(55);
    column-gap: rem(40);
}

.p-details__table {
    width: rem(400);
    border: rem(0.5) solid #707070;
     border-collapse: collapse;
    background-color: $font-color2;
}

.p-details__table tbody {
    width: 100%;
}

.p-details__table td {
    font-size: rem(18);
    line-height: calc(30 / 18);
    border: rem(0.5) solid #707070;
    padding-block: rem(8) 0;
    padding-left: rem(20);
    text-align: left;
}

.p-details__table td:first-child {
    background-color: #E5E5E5;
    font-weight: 700;
    width: rem(140);
    padding-block: rem(5.5) rem(2);
}

.p-details__text {
    width: rem(440);
    font-size: rem(18);
    line-height: calc(30 / 18);
}