@use '../../foundation/variable' as *;
@use '../../foundation/function' as *; 
@use '../../foundation/mixin' as *;

// ==========================================================================
// p-result-section
// ==========================================================================

.p-result-section {
    padding-block: rem(69) rem(210);
    @include sp {
        padding-block: rem(50) rem(203);
    }
}

.p-result-section__list {
    margin-top: rem(41);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: rem(71) 12%;
    @include sp {
        display: flex;
        flex-direction: column;
        row-gap: rem(41);
        padding-block: rem(49) rem(60);
    }
}

.p-result-section__item {
    width: rem(387);
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;
    @include sp {
        width: 100%;
    }
    &:hover {
        opacity: 0.5;
    }
}

.p-result-section__caption {
    width: rem(100);
}

.p-result-section__textarea h3 {
    font-size: rem(20);
    line-height: calc(25 / 20);
    font-weight: 600;
    padding-top: rem(20);
}

.p-result-section__textarea time {
    font-size: rem(18);
    line-height: calc(32 / 18);
    padding-top: rem(10);
    display: flex;
    justify-content: flex-end;
}