@use '../foundation/variable' as *;
@use '../foundation/function' as *; 
@use '../foundation/mixin' as *;

// ==========================================================================
// l-two-col-container
// ==========================================================================

.l-two-col-container {
  display: grid;
  grid-template-columns: 1fr 25rem;
  column-gap: 3rem;
  padding-block: 7rem 18.7rem;
  @include sp {
    grid-template-columns: 1fr;
    row-gap: 2.8rem;
    padding-block: 4.7rem 19.7rem;
  }
  &__side {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
  }
}
